p {
    margin:1em 0;
}

.grey {
    background:#333 !important;
}

.add-padding {
    padding:5px !important;
}

.no-padding {
    padding:0 !important;
}

.add-scrollbar {
    overflow:auto;
}

.no-scrollbar {
    overflow:hidden;
}

.allow-overflow {
    overflow:visible;
}

.full-height {
    height:100%;
}

button {
    cursor:pointer;
}

iframe#preview {
    border:0;
    width:100%;
    height:100%;
}

#container {
    min-height:300px;
    position:absolute;
    top:50px;
    bottom:0;
    left:0;
    right:0;
}

#topbar {
    min-height:0;
    position:absolute;
    top:0;
    left:0;
    right:0;
    background:#000 url("css/images/app/stripe.png");
}

#logo-image {
    height:100px;
    position:absolute;
    top:0;
    right:0;
    z:10px;
}

#logo {
    margin-top:5px;
}

ul.examples {
    font-style:italic;
    text-decoration:none;
    font-family:Georgia, Times, serif;
}

ul.examples li p {
    font-style:normal;
    font-family:Arial;
    border-left:1px solid #999;
    font-size:0.9em;
    padding:8px;
}

ul.examples a {
    font-size:1.5em;
}

#main-nav {
    height:25px;
    z-index:1;
    -moz-transition:all 0.6s ease-out;
    -o-transition:all 0.6s ease-out;
    -webkit-transition:all 0.6s ease-out;
    -ms-transition:all 0.6s ease-out;
    position:absolute;
    top:10px;
    right:100px;
    width:100%;
    text-align:right;
}

#main-nav ul {
    white-space:nowrap;
    margin-right:10%;
}

#main-nav li {
    display:inline;
}

#main-nav li:last-child {
    margin-right:9px;
}

#main-nav li:nth-of-type(1) a {
    color:#f3a01e;
}

#main-nav li:nth-of-type(1) a:before {
    background:#f3a01e;
}

#main-nav li:nth-of-type(2) a {
    color:#D05D2A;
}

#main-nav li:nth-of-type(2) a:before {
    background:#D05D2A;
}

#main-nav li:nth-of-type(3) a {
    color:#9dc425;
}

#main-nav li:nth-of-type(3) a:before {
    background:#9dc425;
}

#main-nav li:nth-of-type(4) a {
    color:#4b8db5;
}

#main-nav li:nth-of-type(4) a:before {
    background:#4b8db5;
}

#main-nav li:nth-of-type(5) a {
    color:#7c48b5;
}

#main-nav li:nth-of-type(5) a:before {
    background:#7c48b5;
}

#main-nav a {
    font-weight:600;
    display:inline-block;
    font-family:"kulturista-web-1","kulturista-web-2";
    text-transform:uppercase;
    font-size:0.85em;
    position:relative;
    padding:3px 12px;
}

#main-nav li a:hover {
    color:#000;
    background:#FFF;
}

<!-- .ui-layout-west #example_sidebar {
    ----background:#000 url("css/images/appup/stripe.png");
    ----height:100%;
}

-->
<!-- #example_sidebar h3 a {
    ----color:#F8D575;
    ----font-family:'Bebas Neue', 'League Gothic', 'Arial Narrow', Arial, Helvetica, sans-serif;
    ----text-decoration:none;
}

-->
<!-- #example_sidebar a {
    ----color:#fff;
    ----font-family:'Bebas Neue', 'League Gothic', 'Arial Narrow', Arial, Helvetica, sans-serif;
}

-->
<!-- .ui-layout-west h3 a {
    ----position:relative;
    ----padding-bottom:6px;
    ----font-size:1.1em;
}

.ui-tabs .ui-tabs-nav li a {
    float:left;
    text-decoration:none;
    font-size:0.75em;
    padding:.5em 1em;
}

#example_sidebar,#help_sidebar {
    font-size:0.75em;
}

.ui-tabs .ui-tabs-panel {
    display:block;
    background:none;
    border-width:0;
    padding:0.5em;
}

#preview-buttons {
    position:absolute;
    top:10px;
    right:10px;
    width:100%;
    text-align:right;
}

#preview-buttons p {
    font-size:0.7em;
    margin:0;
    padding:0;
}

button.clean-gray {
    background-color:#EEE;
    background-image:linear-gradient(top, #eeeeee, #cccccc);
    border:1px solid #CCC;
    border-bottom:1px solid #BBB;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    -ms-border-radius:3px;
    -o-border-radius:3px;
    border-radius:3px;
    color:#333;
    font:bold 11px "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
    line-height:1;
    text-align:center;
    text-shadow:0 1px 0 #EEE;
    width:100px;
    padding:8px 0;
}

.examples,#main-nav li a:before,-->
.examples {
    display:none;
}

ul.examples em,.home #main-nav .l-articles a:before,.page-template-video-archive-php #main-nav .l-videos a:before,.page-template-page-downloads-php #main-nav .l-downloads a:before,.page-template-page-snippet-php #main-nav .l-snippets a:before,.page-template-page-snippet-cat-php #main-nav .l-snippets a:before,.forums #main-nav .l-forums a:before {
    display:block;
}